<div class="container">

    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
       
        <label>Films </label>
        <select class="form-control form-control-lg" id="idFilm" name="idFilm"
        [(ngModel)]="IdFilm" (change)="onChange()">
        <option *ngFor="let film of films" value="{{film.idFilm}}">
        {{film.nomFilm}}
         </option>
        </select>
        </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr> <th>Id</th><th>Nom</th> <th>Salaire</th>  <th>Date Naissance</th><th>Film</th><!--  <th colspan="2">Actions</th> --></tr>
                </thead>
                <tbody *ngFor="let acteur of acteurs">
                    <tr>
                        <td>{{acteur.idActeur}}</td>
                        <td>{{acteur.nomActeur}}</td>
                        <td>{{acteur.salaireActeur}}</td>
                        <td>{{acteur.dateNaissance | date:'dd/MM/yyyy'}}</td>
                        <td>{{acteur?.film?.nomFilm}}</td> 
                <!--         <td><a class="btn btn-danger" (click)="supprimerActeur(acteur)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updateActeur',acteur.idActeur]">Modifier</a></td>
                  -->   </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>