<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <app-update-film [film]="updatedFilm" 
        (filmUpdated)= "filmUpdated($event)"
         [ajout]="ajout" *ngIf="authService.isAdmin()"></app-update-film>
      </div>
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <thead>
    <tr> <th>Id</th><th>Nom Film</th> </tr>
    </thead>
    <tbody *ngFor="let film of films">
    <tr>
    <td>{{film.idFilm}}</td>
    <td>{{film.nomFilm}}</td>
    <td><a *ngIf="authService.isAdmin()" class="btn btn-success" (click)="updateFilm(film)">Editer</a></td>
    <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerFilm(film)">Supprimer</a></td>
    
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>